body.app-body {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5 {
  text-align: left;
}

.main h2 {
  border-bottom: thin solid #f8f8f8;
  padding-bottom: 10px;
}

button {
  margin-bottom: 0px !important;
}

.header {
  background: #f8f8f8;
}

.navbar-default {
  background-image:none;
}

.topbar {
  background:black;
}

.topbar h1 {
  font-size:1em;
  text-transform: uppercase;
  color:white;
  font-weight: 700;
  margin-top: 10px;
}

.main {
  padding-top: 2em;
}

.row-edit-input {
  width:100%;
}

.row-button {
  margin-top:1.7em;
}