<div class="container" ng-controller="EventsController">
    <div class="row">
        <table class="table">
            <thead>
               <tr>
                   <th>ID</th>
                   <th>Opis</th>
                   <th>Termin - dan</th>
                   <th>Termin - sat</th>
               </tr>
            </thead>
            <tr row-edit-directive ng-repeat="event in events">
                <td class="row-id"><span class="item-label">{{event.id}}</span></td>
                <td><span class="row-item-label" ng-show="read">getGroupDesc({{event.grupa_id}})</span></td>
                <td><span class="row-item-label" ng-show="read">getGroupDay({{group.termin_dan}})</span></td>
                <td><span class="row-item-label" ng-show="read">getGroupHour({{group.termin_sat}})</span></td>
            </tr>
        </table>
    </div>
</div>