<div class="container" ng-controller="GroupNewController">
    <div class="row">
        <div class="col-sm-4">
            <form role="form">
                <div class="form-group">
                    <label for="naziv" class="control-label">Naziv</label>
                    <input id="naziv" type="text" class="form-control" ng-model="naziv">
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <form role="form">
                <div class="form-group">
                    <label for="opis" class="control-label">Opis</label>
                    <input id="opis" type="text" class="form-control" ng-model="opis">
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <form role="form">
                <div class="form-group">
                    <label for="trajanje" class="control-label">Trajanje</label>
                    <input id="trajanje" type="text" class="form-control" ng-model="trajanje">
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <form role="form">
                <div class="form-group">
                    <label for="cijena" class="control-label">Cijena</label>
                    <input id="cijena" type="text" class="form-control" ng-model="cijena">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-lg-offset-4">
            <button ng-click="saveGroup()" class="btn btn-primary btn-block">Snimi</button>
        </div>
    </div>
</div>