<div class="container">
<div id="login" class="row">
    <form ng-submit="login()">
      <fieldset>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="form-group">
                  <label class="control-label">Korisničko ime:</label>
                  <input class="form-control" type="text" name="username" placeholder="Korisničko ime" ng-model="credentials.username" required/>
              </div>
              <div class="form-group">
                  <label class="control-label">Lozinka:</label>
                  <input  class="form-control" type="password" name="password" placeholder="Lozinka" ng-model="credentials.password" required/>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <button id="log-in" type="submit" class="btn btn-warning">Logiraj me</button>
          </div>
        </div>
      </fieldset>
    </form>
</div>
